<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FajaWebsite</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top py-3">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/SkyWorksLogoFull.png')}}" style="width:110px"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item ml-auto">
				<a class="nav-link" id="home" href="home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link mx-3" id="tool1" href="tool1">Tool 1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link mx-3" id="tool2" href="tool2">Tool 2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link mx-3" id="tool3" href="tool3">Tool 3</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<!--- Tool Description -->
<div class="container-fluid">
<div class="row jumbotron">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
		<div class="col-12">
			<h1 class="display-4" id="tool1">Long P-IV(t)</h1>
		</div>
		<p class="lead">Long time frame drain lag graphing, both JD and VD with respect to time are plotted using the data inputed from the CSV section on the left.
			please remove everything from the CSV other than the table header and data body.
		</p>
	</div>
</div>
</div>

<!--"table-bordered table-hover table-responsive CSVTable"-->
<div class="container-fluid">
<div class="row">
	<div class="col-lg-3">
		<h2 style="text-align: center ; font-size: x-large;">HEMT Parameters</h2>
		<hr>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">Gate Width </span>
			</div>
		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="gateWidthLong">
		</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
			<span class="input-group-text"  id="basic-addon1"># Fingers &nbsp;&nbsp;</span>
			</div>
		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="numFingersLong">
		</div>
		<h2 style="text-align: center ; font-size: x-large;">Plot Settings</h2>
		<hr>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-outline-secondary" type="button" onclick="scollLong()">Set 0 Point</button>
			</div>
		<input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="zeroPointLong">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="updateChartsLong()">Replot</button>
		  </div>
		</div>
		<div class="btn-group btn-group-toggle special mb-3" data-toggle="buttons" style="align-items: center;">
			<label class="btn btn-secondary active btn-light btn-sm" onclick="showVDLong()">
			  <input type="radio" name="options" id="showVDLong" autocomplete="off" checked onclick="showVDLong()"> Show VD
			</label>
			<label class="btn btn-secondary btn-light btn-sm" onclick="ignoreVDLong()">
			  <input type="radio" name="options" id="ignoreVDLong" autocomplete="off" onclick="ignoreVDLong()"> Ignore VD
			</label>
		</div>
		<h2 style="text-align: center ; font-size: x-large;">CSV Data</h2>
		<hr>
		<div class="input-group input-group-sm" style="padding-bottom: 1rem;">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="csvFileInputLong">
				<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
			</div>
		</div>
		<script>
            $('#csvFileInputLong').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName.slice(12));
            })
        </script>

		<div class="col-xl-12" style="height:830px; overflow-y: scroll;">
			<table id="csvRootLong" class="table table-data table-bordered table-hover padding"></table>
			<script type="text/javascript" src="{{ url_for('static', filename='js/TableCsv.js')}}"></script>
		</div>
	</div>
	<div class="chart-area col-lg-9">
		<h2 style="text-align: center ; font-size: x-large;">Voltage and Current Density Plots</h2>
		<hr>
		<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
		<div id="longPlot"></div>
		<div id="longPlot2"></div>
	</div>
</div>
</div>

<!--- {{ url_for('static', filename='img/MatPlotLibChart.png')}} -->